GOOGLE_API_KEY=xxx
DEEPSEEK_API_KEY=sk-xxx
# 嵌入模型，使用的阿里
ALI_API_KEY=sk-xxx
OPENAI_API_KEY=sk-xxx
CLAUDE_API_KEY=skxxx
# 流式的输出结果
STREAMING=true
MODEL_PROVIDER=openai
LLM_MODEL=gpt-4.1
TOOL_MODEL_API_BASE=https://api.deepseek.com/v1
TOOL_MODEL_API_KEY=sk-xxx
TOOL_MODEL_NAME=deepseek-chat
TOOL_MODEL_PROVIDER=deepseek